<!--<h3>Husk væske!</h3>

<div class="row">
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
  <div class="col-2">
    <i class="fa fa-glass"></i>
  </div>
</div>-->
