body {
  background-color: #fccfc3;
  /*font-family: "Indie Flower", cursive;*/
  font-family: "Neucha", cursive;
  font-size: 1.3rem;
}

h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  margin-top: 30px;
  font-size: 3.5rem;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 2.8rem;
  letter-spacing: 4px;
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 2.2rem;
  margin-top: 30px;
}
