<h3>Aktivitieter:</h3>

<table style="width: 100%;">
  <tr>
    <th style="width: 17%;">Tidspunkt</th>
    <th>Aktivitet</th>
  </tr>
  <tr>
    <td>19:55</td>
    <td>Boksning</td>
  </tr>
  <tr>
    <td>21:00</td>
    <td>TV 3: Avatar</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
